@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,800')
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800');


.row{
	margin: 0;
}

form {
	display: none;
}

header {
	background-color: #162a41;
}

header img {
	max-width: 270px;
}

body {
	font-family:'Poppins', sans-serif;
	margin: 0px;
	color: #01203e;
}

#titulo {
	background: url(../images/home.jpg);
	background-size: cover;
}


#titulo h1 {
  font-family:'Poppins';
  height: 800;
	font-size: 67px;
	color: white;
}

#titulo h2 {
  font-family:'Poppins';
  height: 600;
	color: white;
	font-size: 40px;
	margin-top: -1.4em;
	font-weight: 300;
}

#titulo p{
  font-family:'Raleway';
  height: 600;
	color: white;
    font-size: 18px;
    margin-top: -1.5em
}

#titulo > section > section > div:nth-child(2){
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 46px;
  padding: 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

#titulo > section > section > div:nth-child(2):after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #f7f7f7;
}

#titulo > section > section > div:nth-child(2):hover:nth-of-type{
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#titulo > section > section > div:nth-child(2):hover:nth-of-type:after {
  width: 0%;
}

#titulo > section > section > div:hover {
  cursor: pointer;
}
#titulo > section > section > div:hover:after {
  width: 100%;
  left: 0;
}
#titulo > section > section > div:nth-child(2) > p{
    margin-top: 0em;
    margin-bottom: 0em;
    color: snow;
    font-size: 18px;
}

#beneficios img {
	width: 30%;
}
#beneficios h2{
  font-size:35px;
}

#beneficios p {
  font-size: 17px;
  font-weight: 300;
  margin: 2em;
  text-align: justify;
  color: #575756;
}

#beneficios > div:nth-child(2){
      margin: 2em;
}
#beneficios > div:nth-child(3){
      margin: 2em;
}
#beneficios > div:nth-child(4){
      margin: 2em;
}
#beneficios > div:nth-child(5){
      margin: 2em;
}
section.fondo h2 {
	font-family: 'Asap', sans-serif;
	text-align: center;
	font-size: 70px;
	text-transform: uppercase;
}
#descripcion > section > div > div.col-xs-12.col-sm-5.center-xs.middle-sm > div{
      margin: 2em;
}

#descripcion{
    background:#f5a351;
    background-size: cover;
    background-position: center;
 } 

#descripcion h2{
  font-size: 34px;
    text-align: center;
    color: #575756;
    font-family: Poppins;
    font-weight: 500;
    font-family:'Poppins';
}
#descripcion strong{
      font-size:35px;
      margin:2em;
}

#descripcion p{
    text-align: justify;
    color: #575756;
    font-family: Poppins;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5em;
    margin: 2em;
    margin-top: -1em;
}
 
#costos{
    background: url(../images/william-iven-19843.jpg);
    background-size: cover;
    background-position: center;
    padding: 9em 0em;
}

#costos > section > div > div.container > div > div:nth-child(1) > div{
    margin-right: 6em;
}

#costos > section > div > div.col-xs-12 > div > h2{
    margin-bottom: 0em;
    margin-left: .5em;
    color: white;
    font-family: Poppins;
    font-weight: 500;
    font-size: 35px;
    text-align:left;
}

/*PRECIO DE MATRICULAS-1*/
#costos > section > div > div.container > div > div:nth-child(2) > div > h3{
    color: white;
    font-family: Poppins;
    font-weight: 300;
    font-size: 25px
}

#costos > section > div > div.container > div > div:nth-child(2) > div > h2{
     color: white;
    font-family: Poppins;
    font-weight: 100;
    font-size: 33px;
    margin-top: -0.5em;
}

#costos > section > div > div.container > div > div:nth-child(2) > div > p{
    color: white;
    font-family: Poppins;
    font-weight: 100;
    margin-top: -1.5em
}
/*PRECIO DE MATRICULAS-1 */

/*PRECIO DE MATRICULAS-2 */
#costos > section > div > div.container > div > div:nth-child(1) > div > h3{
    color: white;
    font-family: Poppins;
    font-weight: 300;
    font-size: 25px
}

#costos > section > div > div.container > div > div:nth-child(1) > div > h2{
    color: white;
    font-family: Poppins;
    font-weight: 100;
    font-size: 33px;
    margin-top: -0.5em;
}

#costos > section > div > div.container > div > div:nth-child(1) > div >p{
    color: white;
    font-family: Poppins;
    font-weight: 100;
    margin-top: -1.5em
}
/*PRECIO DE MATRICULAS-2*/

#EGRESADOS h2{
    color: #04183D;
    font-size: 35px;
    text-align: center;
}

/*INICIO EGRESADO 1*/
#EGRESADOS > div > div:nth-child(1){
  margin:2em;
}

#EGRESADOS > div > div:nth-child(1) > div{
        position: relative;
        height: 115px;
}

#EGRESADOS > div:nth-child(1){
    margin-bottom: 4em;
}

#EGRESADOS > div > div:nth-child(1) > div > img{
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
     border-radius: 10em;
}

#EGRESADOS > div > div:nth-child(1) > h3{
    text-align: center;
    color:#575756;
    font-family: Poppins;
    font-weight:400;
    font-size: 23px;
}

#EGRESADOS > div > div:nth-child(1) > p{
    font-size: 17px;
    font-weight: 300;
    margin: 1em;
    text-align: justify;
    color: #575756;
}

/*INICIO EGRESADO 2*/
#EGRESADOS > div > div:nth-child(2){
  margin:2em;
}

#EGRESADOS > div > div:nth-child(2) > div{
        position: relative;
        height: 115px;
}

#EGRESADOS > div:nth-child(2) {
    margin-bottom: 4em;
}

#EGRESADOS > div > div:nth-child(2) > div > img{
     position: absolute;
    bottom: 0;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10em;
}
#EGRESADOS > div > div:nth-child(2) > h3{
    text-align: center;
    color:#575756;
    font-family: Poppins;
    font-weight:400;
    font-size: 23px;

}
#EGRESADOS > div > div:nth-child(2) > p{
    font-size: 17px;
    font-weight: 300;
    margin: 1em;
    text-align: justify;
    color: #575756;
}

/*INICIO EGRESADO 3*/
#EGRESADOS > div > div:nth-child(3){
  margin:2em;
}

 #EGRESADOS > div > div:nth-child(3) > div{
        position: relative;
        height: 115px;
}

#EGRESADOS > div:nth-child(3){
    margin-bottom: 4em;
}

#EGRESADOS > div > div:nth-child(3) > div > img{
 position: absolute;
    bottom: 0;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
     border-radius: 10em;
}
#EGRESADOS > div > div:nth-child(3) > h3{
    text-align: center;
    color:#575756;
    font-family: Poppins;
    font-weight:400;
    font-size: 23px;
}
#EGRESADOS > div > div:nth-child(3) > p{
    font-size: 17px;
    font-weight: 300;
    margin: 1em;
    text-align: justify;
    color: #575756;
}

/*FINAL EGRESADOS*/

#final{
    background: url(../images/final.jpg);
    background-size: cover;
    background-position: center;
}

#final h2{
    color: white;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    margin-left: .5em;
}
#final > section{
  padding: 2em 0em;
}

#final > section > div > div > div{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 10px;
    padding: 20px;
    border: 2px solid #f7f7f7;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    -webkit-transition: .3s;
    transition: .3s;
  }
#final > section > div > div > div > p{
    margin-top: 0em;
    margin-bottom: 0em;
    color: snow;
    font-size: 18px;
}

#final > section > div > div > div:after{
    position: absolute;
    -webkit-transition: .3s;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
}

#final > section > div > div > div:nth-child(2):hover:nth-of-type{
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#final > section > div > div > div:nth-child(2):hover:nth-of-type:after {
  width: 0%;
}

#final > section > div > div > div:hover {
  cursor: pointer;
}
#final > section > div > div > div:hover:after {
  width: 100%;
  left: 0;
}

footer {
	background-color:#01203e;
}

footer img {
	width: 75%;
    max-width: 50%;
    
}

footer a{
    display: inline-block;
    max-width: 20%;
}

footer p {
	color: #FFF;
	font-weight: 300;
    
}

@media only screen and(min-width:768px) {

    #beneficios h2 {
      font-size: 40px;
      margin-left: 0em;
    }
       
        
    #beneficios img {
        width: 46%;
    }

    #beneficios p {
        margin: -1em;
        text-align: justify;
        margin-top: 1em;
        font-size: 18px; 
    }
    #descripcion h2 {
        margin-top: 3em;
        font-size: 32px;
    }

    #descripcion strong {
        font-size: 40px;
            margin: 0em;
      }

    #descripcion p {
        font-size: 19px;
        margin: 2em;
        margin-top: 2em;
    }

    #EGRESADOS > div > div:nth-child(1) {
        margin: 0em;
    }

    #EGRESADOS > div > div:nth-child(2) {
        margin: 0em;
    }

    #EGRESADOS > div > div:nth-child(3) {
        margin: 0em;
    }

    #final > section {
        padding: 0em;
    }
      
    #final > section > div > div > div {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        margin: 70px;
    }

    #final h2 {
        font-size: 40px;
        font-weight: 500;
        text-align: center;
        padding-top: 2em;
}



}




@media only screen and (min-width:1024px){

    #titulo h1{
        font-size:76px;
        margin-right: 4em;
    }

    #titulo h2{
        font-size: 44px;
        margin-top: -1.3em;
    } 

    #titulo p{
    margin-top: 0em
	}
    
    #cuadro p{ 
    font-size: 25px;
   }
    
    }
    footer img {
    width: 50%;
        margin-top: 30px;
        
        
}