@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,800')
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800');


.row{
	margin: 0;
}

form {
	display: none;
}

header {
	background-color: #162a41;
}

header img {
	max-width: 270px;
}

body {
	font-family:'Poppins', sans-serif;
	margin: 0px;
	color: #3E4A59;
}

#titulo {
	background: url(../images/home.jpg);
	background-size: cover;
}


#titulo h1 {
  font-family:'Poppins';
  height: 800;
	font-size: 67px;
	color: white;
}

#titulo h2 {
  font-family:'Poppins';
  height: 600;
	color: white;
	font-size: 40px;
	margin-top: -1.4em;
	font-weight: 300;
}

#titulo p{
  font-family:'Raleway';
  height: 600;
	color: white;
    font-size: 18px;
    margin-top: -1.5em
}

#titulo > section > section > div:nth-child(2){
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 46px;
  padding: 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

#titulo > section > section > div:nth-child(2):after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #f7f7f7;
}

#titulo > section > section > div:nth-child(2):hover:nth-of-type{
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#titulo > section > section > div:nth-child(2):hover:nth-of-type:after {
  width: 0%;
}

#titulo > section > section > div:hover {
  cursor: pointer;
}
#titulo > section > section > div:hover:after {
  width: 100%;
  left: 0;
}
#titulo > section > section > div:nth-child(2) > p{
    margin-top: 0em;
    margin-bottom: 0em;
    color: snow;
    font-size: 18px;
}

#beneficios img {
	width: 30%;
}

#beneficios p {
  font-size: 17px;
  font-weight: 300;
  margin: 2em;
  text-align: justify;
}

#beneficios > div:nth-child(2){
      margin: 2em;
}
#beneficios > div:nth-child(3){
      margin: 2em;
}
#beneficios > div:nth-child(4){
      margin: 2em;
}
#beneficios > div:nth-child(5){
      margin: 2em;
}
section.fondo h2 {
	font-family: 'Asap', sans-serif;
	text-align: center;
	font-size: 70px;
	text-transform: uppercase;
}

#perfiles {
	background: url(../images/imagen%20de%20morros.png);
	background-size: cover;
	height: 20em;
	display: flex;
}

#perfiles button {
	background-color: rgba(00, 45, 70, 0.8);
	font-size: 30px;
	border: 0em;
	height: 45%;
	padding: 4.9vw;
	margin: 1.5em;
}

#cuanto_pagar button {
	background-color: #E2793F;
	border-radius: 34px;
	border: 0;
	font-size: 16px;
	margin-bottom: 2.5em;
	padding: .8em;
	margin: 2em;
}

footer {
	background-color: #2D3D4F;
}

footer img {
	width: 75%;
    max-width: 50%;
    
}

footer a{
    display: inline-block;
    max-width: 20%;
}

footer p {
	color: #FFF;
	font-weight: 300;
    
}

@media only screen and(min-width:768px) {
    #cuadro box {
	height: 28vw;}

    #beneficios {
	margin: 75px;
}

    #beneficios h2 {
	font-size: 40px;
	margin-left: 0em;
}

    footer img {
	width: 49%;}
    
    #button {
    margin-top: 90px;

    }
    
    

}

@media only screen and (min-width: 64em) {
	#cuadro {
		background: rgba(255, 255, 255, 0);
        
	}
    
    #titulo button {
        margin-top: -50px;
        margin-right: 220px;

    }
    



@media only screen and (min-width:1024px){

    #titulo h1{
        font-size:76px;
        margin-right: 4em;
    }

    #titulo h2{
        font-size: 44px;
        margin-top: -1.3em;
    } 

    #titulo p{
    margin-top: 0em
	}
    
    #cuadro p{ 
    font-size: 25px;
   }
    
    }
    footer img {
    width: 50%;
        margin-top: 30px;
        
        
}